*{
    margin: 0;
    padding:r 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
  }
.one{
    background-image: url('https://images.unsplash.com/photo-1551376347-075b0121a65b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8fA%3D%3D&w=1000&q=80');
    background-repeat: no-repeat;
    background-size: cover;
  width: 100%;
  min-height: 100vh;
  padding: .6rem;
}
.two{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSidLUdtbdS9gErM3HZNSnsCkQXKLcoEY1S-9rzOfPSig&usqp=CAU&ec=48665698');
   background-repeat: no-repeat;
   background-size: cover;
    border-radius: .6rem;
   padding-top: 3%;
   padding-left: 10%;
   padding-right: 10%;
   padding-bottom: 10%;
   margin-top: 8%;
   margin-left: auto;
   margin-right: auto;
   width:60%;
   height: 50%;
    
}
.three{
    background-image: linear-gradient(to left,rgb(190,174,250),rgb(114, 209, 216),rgb(76, 69, 101));
    
    border-radius: 0.6rem;
  padding: .6rem;
  margin-bottom: 5%;
}
.two h3{
    font-size: 3rem;
    color: rgb(41, 39, 39);
   padding-bottom: 8%;
}
.three input{
    border-radius: 0.6rem;
    padding-right: 10%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}
.three button{
    border-radius: .5rem;
    margin-left: 5%;
    padding:8px;
    background-color: rgb(220, 102, 102);
    color:rgb(249, 240, 229);
    font-size:large;
}
ul li{
  list-style: none;
  font-size: 1.02rem;
  padding: .72rem .48rem .72rem 3rem;
  user-select: none;
  background-color:#ffde49;
  position: relative;
}
ul li:hover{
  background-color: rgb(202, 196, 196);
}



ul li span{
  position: absolute;
  right: 0;
  top: 0.3rem;
  width: 2.4rem;
  height: 2.4rem;
  font-size: 1.32rem;
  color: #2a8dbe;
  line-height: 2.4rem;
  text-align: center;
}
ul li span:hover{
  background:#72cee2d9;
}
